<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAo3aQmgDdGW44kcDe3lw3RfkMuRz-KD5o</string>
	<key>GCM_SENDER_ID</key>
	<string>544170720745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pt.app.example</string>
	<key>PROJECT_ID</key>
	<string>appexample-5d984</string>
	<key>STORAGE_BUCKET</key>
	<string>appexample-5d984.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544170720745:ios:3f1c17bc106bd70986df78</string>
</dict>
</plist>